<section class="accordion aboutUs">
    <h2>Somos tu jugueteria preferida!! </h2>
    <h3 class="accordion-title"><span>📖</span> Nuestra historia  <div class="icon-open_box"><span class="icon-open"></span></div></h3>
        <div class="accordion-content--hidden">
        <p>Jugueteria Cósmica nació en el año 2017 con la apertura de nuestra casa central en Villa Devoto, CABA, situada en Habana 3463. Al poco tiempo fuimos sumando sucursales, hasta llegar a las 5 que tenemos hoy en día, 2 en CABA, 2 en GBA y 1 en el partido de la costa.</p> 
        <p>Lo más importante para nosotros es ofrecerte productos de alta calidad, innovadores y didácticos. Estamos siempre a la vanguardia, brindándote todos los juguetes que son tendencia en el mundo</p>
        <p>El personal de nuestras sucursales, capacitado para darte la mejor atención, te va a ayudar a encontrar el juguete que necesitas. Y si preferís hacer tu pedido a traves de nuestra tienda online, contamos con un canal directo de comunicación para responder a todas tus inquietudes en un amplio horario.</p>
        <p>Te invitamos a unirte al Club Jugueteria Cósmica y seguirnos en nuestras redes, que te permite estar más cerca nuestro, recibiendo novedades y promociones exclusivas.</p>
        </div>
    <h3 class="accordion-title" ><span>🏰</span> Sucursales <div id="sucursales" class="icon-open_box"><span class="icon-open"></span></div></h3>
        
        <div class="accordion-content--hidden">
            
            <div class="accordion stores">
                <h4>CABA</h4>
                <dl>
                    <dt class="accordion-title">CASA CENTRAL - DEVOTO <div class="icon-open_box"><span class="icon-open"></span></div></dt>
                    <dd class="accordion-content--hidden">
                        <p>Habana 3463</p>
                        <p>Lunes a domingo de 9.30 a 21hs</p>
                    </dd>
                    <dt class="accordion-title">SUCURSAL I - BELGRANO <div class="icon-open_box"><span class="icon-open"></span></div></dt>
                    <dd class="accordion-content--hidden"> 
                        <p>Av. Luis Maria Campos 831</p>
                        <p>Lunes a domingo de 9.30 a 21hs</p>
                    </dd>
                    <dt class="accordion-title">SUCURSAL II - VILLA SANTA RITA <div class="icon-open_box"><span class="icon-open"></span></div></dt>
                    <dd class="accordion-content--hidden">
                        <p>Elpidio Gonzales 3800</p>
                        <p>Lunes a domingo de 9.30 a 21hs</p>
                    </dd>
                </dl>
                <h4>GBA</h4>
                <dl>
                    <dt class="accordion-title">SUCURSAL III - SAN MARTIN <div class="icon-open_box"><span class="icon-open"></span></div></dt>
                    <dd class="accordion-content--hidden">   
                        <p>Almeyra 2400</p>
                        <p>Lunes a sábados de 10 a 19hs</p>
                    </dd>
                    <dt class="accordion-title">SUCURSAL IV - SANTOS LUGARES <div class="icon-open_box"><span class="icon-open"></span></div></dt>
                    <dd class="accordion-content--hidden">
                        <p>Av. La Plata 4050</p> 
                        <p>Lunes a sábados de 10 a 19hs</p> 
                    </dd>              
                </dl>
                
                <h4>PARTIDO DE LA COSTA</h4>
                <dl>
                    <dt class="accordion-title">SUCURSAL V - MAR DEL PLATA <div class="icon-open_box"><span class="icon-open"></span></div></dt>
                    <dd class="accordion-content--hidden">
                        <p>Entre Rios 3628</p>   
                        <p>Lunes a sábados de 10 a 19hs</p>
                    </dd class="accordion-content--hidden">
                </dl>
            </div>
        </div>
    <h3 class="accordion-title"><span>🕜</span> Horarios de atención <div class="icon-open_box"><span class="icon-open"></span></div></h3>
    <div class="accordion-content--hidden">
        <ul>
            <li>Sucursales <span>CABA</span>: Lunes a domingo de 9.30 a 21hs</li>
            <li>Sucursales <span>GBA</span>: Lunes a sábados de 10 a 19hs</li>
            <li>Sucursales <span>PARTIDO DE LA COSTA</span>: Lunes a sábados de 10 a 19hs</li>
            <li><span>TIENDA ONLINE </span>: Lunes a domingo de 8 a 22hs</li>
        </ul>
    </div>
    <h3 class="accordion-title"><span>👥</span> Redes sociales <div class="icon-open_box"><span class="icon-open"></span></div></h3>
    <div class="accordion-content--hidden">
        <nav class="redes">
            <li><a href="https://www.facebook.com/jesica.logares"><span><img src="img/icono_facebook.png" alt="Facebook"></span></a> </li>
            
            <li><a href="https://www.instagram.com/mama_y_analista/?hl=es-la"> <span><img src="img/icono_instagram.png" alt="Instagram"></span></a></li>
            
            <li><a href="https://twitter.com/"> <span><img src="img/icono_twitter.png" alt="Twitter"></span></a></li>
            
            <li><a href="https://www.youtube.com/"> <span><img src="img/icono_youtube.png" alt="YouTube"></span></a></li>

            <li><a href="https://web.whatsapp.com/send?phone=541169477011&text=%C2%A1Hola%21+Estoy+en+la+tienda+BURIDAM+y+quiero+pedir+m%C3%A1s+informaci%C3%B3n."> <span><img src="img/icono_whatapps.png" alt="WhatApps"></span></a></li>


        </nav>
    </div>
    <h3 class="accordion-title"><span>💵</span> Medios de Pago <div class="icon-open_box"><span class="icon-open"></span></div></h3>
    <div class="accordion-content--hidden">
        <ul>
            <li>💳 TARJETAS DE CRÉDITO Y DÉBITO </li>                    
            <li>🏦 TRANSFERENCIA BANCARIA </li>
            <li>🤳 MERCADO PAGO </li>
            <li>📳 MODO </li>
            <li>💵 EFECTIVO  (SOLO EN TIENDAS FÍSICAS)</li>
        </ul>
    </div>
    <h3 class="accordion-title"><span>🎊</span> Promociones <div class="icon-open_box"><span class="icon-open"></span></div>
    </h3>
    <div class="accordion-content--hidden">
        <p>Te invitamos a unirte al Club Juguetería Cósmica y seguirnos en nuestras redes, que te permite estar más cerca nuestro, recibiendo novedades y promociones exclusivas.</p> 
            <div class="deals-suscribe">       
                <input type="email" placeholder="Ingresa tu email" required/>
                <button title="Subscribirse">Subscribirse</button>
            </div>
    </div>
    <h3 class="accordion-title"><span>⛑️</span> Ayuda <div class="icon-open_box"><span class="icon-open"></span></div></h3>
    <div class="accordion-content--hidden">
        
        <p>Podes contactarnos todos los dias de 10 a 20hs a traves de los siguientes canales de atención:</p>
        <nav class="support">            
            <li><a href="https://web.whatsapp.com/send?phone=541169477011&text=%C2%A1Hola%21+Estoy+en+la+tienda+BURIDAM+y+quiero+pedir+m%C3%A1s+informaci%C3%B3n."> <span><img src="img/icono_whatapps.png" alt="WhatApps"></span></a></li>
            <li><a href="https://www.facebook.com/jesica.logares"><span><img src="img/icono_facebook.png" alt="Facebook"></span></a> </li>
            
            <li><a href="https://www.instagram.com/mama_y_analista/?hl=es-la"> <span><img src="img/icono_instagram.png" alt="Instagram"></span></a></li> 
        </nav>
    </div>
</section>