<section class=cards>    
    
    <div class="home-tittle">       
        <h2 id="SPAfocus" tabindex="-1">NUEVOS INGRESOS!!</h2>
        <p>3 cuotas sin interés en todos los productos</p>        
    </div>

    <div class="flip-banner">
        <div class="flip-banner-inner">                    
            <div class="flip-banner-front"><img src="img\banner-front.jpg" alt="" class="banner-image-front"></div>
            <div class="flip-banner-back"><img src="img\banner-back.jpg" alt="" class="banner-image-back"></div>
            <div class="flip-banner-space"><img src="img\banner-front.jpg" alt="" class="banner-image-space"></div>
        </div>
    </div>  

    <div class="cards-container"></div>